* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .box-1{
    width: 200px;
    height: 200px;
    background-color: orange;
    transition: width 1s,height 1s ease-in-out;
} */
/* Su kien di chuot qua phan tu muon gi day:hover */
/* .box-1:hover{
    width: 240px;
    height: 260px;
} */

/* Toc do chuyen doi */
/* .wrap div{
    height: 200px;
    width: 200px;
    transition:  0.9s ease-in ;
} */

/* .box-2{
    background-color: red;
}

.box-3{
    background-color: green;
}

.box-2:hover, .box-3:hover{
    width: 400px;
} */
/* Do tre cua Transition */
/* .box-4{
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: width 1s;
    transition-delay: 2s;
} */

/* .box-4:hover{
    width: 500px;
} */

/* Transform: translate(x,y) */
.box-5{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(50px,0);
}

.box-6{
    height: 200px;
    width: 200px;
    /* margin-left: 200px; */
    background-color: brown;
}

.box-6:hover{
    transform: scale(2);
}

.box-7{
    height: 200px;
    width: 200px;
    margin-left: 100px;
    background-color: chartreuse;
    transform: rotate(45deg);
}

.box-8{
    height: 200px;
    width: 200px;
    margin-left: 400px;
    background-color: pink;
    transition: transform 2s;
}

.box-8:hover{
    transform: rotate(180deg);
    
}